.project{
    width:375px;
    margin:0 auto;
    padding: 0;


}
.p{
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom:-80px;
    cursor:pointer;
}
.p p{
    height:100px;
    font-size: 50px;
    pointer-events: none;
    line-height: 45px;
    color:white;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left:0px;
    padding-right:150px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out
}
.project:hover p{
    transform: translate3d(0, -200px, 0);
}
.p:nth-child(even){
    transform:skew(60deg, -30deg) scaleY(0.66667);
}
.p:nth-child(odd){
    transform:skew(0deg, -30deg) scaleY(1.33333);
}
.p:nth-child(1){left:25px;}
.p:nth-child(2){left:50px;}
.p:nth-child(3){left:75px;}
.p:nth-child(4){left:100px;}
.p:nth-child(5){left:125px;}





