.project{
    font-size: 68px;
    padding: 80px 0;
    font-weight: 900;
    text-transform:uppercase;


}
.p{
    height: 50px;
    overflow: hidden;
    position: relative;
}
.p p{
    height:50px;
    line-height: 45px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right:10px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out
}